.bestsellers-container {
    width: 100%;
    max-width: 1500px;
    margin: 2rem auto;
    padding: 0 20px;
}

.bestsellers-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 3rem;
    text-align: center;
}

.books-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 3rem;
} 
/* 
@media (max-width: 1200px) {
    .books-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 768px) {
    .books-grid {
        grid-template-columns: minmax(0, 1fr);
    }
    .bestsellers-container {
        padding: 0 10px;
    }
} */